In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("forestfires.csv")
data

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [5]:
features = data.drop(["X","Y","area"], axis=1)
target = data["area"]

In [6]:
features.head()

  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain
0   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0
1   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0
2   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0
3   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2
4   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0

In [14]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
features['month'] = label_encoder.fit_transform(features['month'])
features['day'] = label_encoder.fit_transform(features['day'])
features.head()

   month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain
0      7    0  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0
1     10    5  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0
2     10    2  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0
3      7    0  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2
4      7    3  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0

In [15]:
scaler = StandardScaler()
features = scaler.fit_transform(features)

In [16]:
pca = PCA(n_components = 3)
principalComponents = pca.fit_transform(features)
principalDataframe = pd.DataFrame(data = principalComponents, columns = ['PC1', 'PC2','PC3'])
principalComponents

array([[ 3.36381884,  0.49649019, -0.36517678],
       [ 0.08535968, -1.74767548, -0.73157012],
       [ 0.50927933, -1.91383703, -0.26264997],
       ...,
       [ 1.7251191 ,  0.84766696,  1.05340012],
       [-1.40236433,  0.62258661, -0.1025709 ],
       [ 3.28955389, -0.6374707 , -1.48823166]])

In [17]:
newDataframe = pd.concat([principalDataframe, target],axis = 1)
newDataframe

          PC1       PC2       PC3   area
0    3.363819  0.496490 -0.365177   0.00
1    0.085360 -1.747675 -0.731570   0.00
2    0.509279 -1.913837 -0.262650   0.00
3    3.025218  1.014529  1.593620   0.00
4    2.459514  0.515501  1.492979   0.00
..        ...       ...       ...    ...
512  0.369446 -0.887280 -0.499323   6.44
513  1.619871  0.604090  1.126763  54.29
514  1.725119  0.847667  1.053400  11.16
515 -1.402364  0.622587 -0.102571   0.00
516  3.289554 -0.637471 -1.488232   0.00

[517 rows x 4 columns]

In [18]:
pca.explained_variance_ratio_

array([0.28761487, 0.14350398, 0.13158061])